<ion-header>
  <ion-navbar>
    <ion-title>
      Coins
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <span style="font-size:.8em">Change over the last 24 hours</span>
  </div>
  <ion-list>
    <ion-item *ngFor="let coin of coins">
      <ion-grid>
        <ion-row justify-content-center align-items-center style="height:100%">
          <ion-col col-8>
            <h2>
              <b>{{coin.name}}</b>
              <ion-icon *ngIf="coin.show_flag" name="flag" color="primary"></ion-icon>
            </h2>
            <h3>{{coin.price_usd}}</h3>
          </ion-col>
          <ion-col col-4 >
            <ion-grid >
              <ion-row>
                <ion-col style="padding:0px;">
                  <ion-icon name="{{coin.trending_icon}}" color="{{coin.color_name}}"></ion-icon>
                </ion-col>
                <ion-col style="padding:0px;">
                  <p [ngStyle]="{'color': coin.color}">{{coin.percent_change_24h}}%</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding:0px;"></ion-col>
                <ion-col style="padding:0px;">
                  <p [ngStyle]="{'color': coin.color}">{{coin.point_change_24h}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <!-- <ion-item>
      <ion-grid>
        <ion-row justify-content-center align-items-center style="height:100%">
          <ion-col col-8>
            <h2>
              <b>Ethereum</b>
            </h2>
            <h3>$845.86</h3>
          </ion-col>
          <ion-col col-4>
            <ion-grid>
              <ion-row>
                <ion-col style="padding:0px;">
                  <ion-icon name="trending-down" color="danger"></ion-icon>
                </ion-col>
                <ion-col style="padding:0px;">
                  <p style="color:#f53d3d">-0.44%</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding:0px;"></ion-col>
                <ion-col style="padding:0px;">
                  <p style="color:#f53d3d">-10.78</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <ion-grid>
        <ion-row justify-content-center align-items-center style="height:100%">
          <ion-col col-8>
            <h2>
              <b>Ripple</b>
            </h2>
            <h3>$0.95</h3>
          </ion-col>
          <ion-col col-4>
            <ion-grid>
              <ion-row>
                <ion-col style="padding:0px;">
                  <ion-icon name="trending-up" color="secondary"></ion-icon>
                </ion-col>
                <ion-col style="padding:0px;">
                  <p style="color:#32db64">9.12%</p>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="padding:0px;"></ion-col>
                <ion-col style="padding:0px;">
                  <p style="color:#32db64">+0.08</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item> -->
  </ion-list>
</ion-content>